* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

:root {
  --header-height: 4.5rem;

  /* COLORS */
  --hue: 216;

  --base-color: hsl(var(--hue) 80% 35%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
  --orange-400: hsl(36 92% 50%);

  /* FONTS */

  --title-font-size: 1.875rem;
  --text-font-size: 1rem;

  --body-font: 'DM Sans', sans-serif;
  --title-font: 'Poppins', sans-serif;
}

/* BASE **********/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: hsl(0 0% 46%);
  background: hsl(0 0% 98%);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
  text-align: center;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}
/* LAYOUT **********/
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  overflow: auto;
  overflow-x: hidden;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(3rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--text-font-size);
}

/* HEADER *************/
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
  height: 4.5rem;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/* LOGO */
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--base-color);
}

.logo span {
  color: var(--orange-400);
}

.logo-alt span {
  color: var(--title-color);
}

/* NAVIGATION */
nav {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
}

.nav-list li {
  font: 700 1rem 'Poppins';
  color: rgb(109, 143, 196);
  letter-spacing: 3px;
  margin-left: 0.25rem;
}

.nav-list li a {
  color: var(--base-color);
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-menu div {
  width: 2rem;
  height: 2px;
  background: var(--base-color);
  margin: 0.5rem;
  transition: 0.3s;
}

/* MAIN **********/
main {
  max-width: 375px;
  overflow-x: hidden;
}
/* HOME */
#home {
  overflow-x: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--orange-400);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
  font-size: var(--text-font-size);
}

/* CONTACT **********/
#contact .container {
  margin: 0;
}

#contact .grid {
  gap: 4rem;
}

#contact .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#contact .text h2 {
  margin-bottom: 1rem;
}

#contact .text p {
  margin-bottom: 2rem;
  text-align: center;
}

#contact .button i,
#contact ul li i {
  font-size: 1rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}

/* FOOTER **********/
footer {
  background-color: var(--orange-400);
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--base-color);
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

/* Back to top */
.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 5rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* MEDIA QUERY */

@media (max-width: 990px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 70vw;
    height: 92vh;
    background: var(--body-color);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
