* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

:root {
  --header-height: 4.5rem;

  /* COLORS */
  --hue: 219;

  --base-color: hsl(var(--hue) 52% 26%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
  --orange-400: hsl(36 92% 50%);
  --orange-700: hsl(24, 55%, 47%);
  --orange-700-alt: hsl(24, 59%, 53%);
  --base-original: hsl(219, 52%, 26%);

  /* FONTS */

  --title-font-size: 1.875rem;
  --text-font-size: 1rem;

  --body-font: 'DM Sans', sans-serif;
  --title-font: 'Poppins', sans-serif;
}

/* BASE **********/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--body-color);
  background: var(--base-color);
  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--orange-700);
  -webkit-font-smoothing: auto;
  text-align: center;
}

.button {
  background-color: var(--orange-700);
  color: var(--base-color);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  filter: brightness(0.7);
}

.divider {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

/* LAYOUT **********/
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(3rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--text-font-size);
}

/* HEADER *************/
#header {
  border-bottom: 1px solid var(--base-color);
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--base-color);
  width: 100%;
  height: 4.5rem;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/* LOGO */
.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--base-color);
}

.logo span {
  color: #000;
}

.logo-alt span {
  color: var(--title-color);
}

/* NAVIGATION */
nav {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  color: var(--orange-700);
}

.nav-list {
  display: flex;
}

.nav-list li {
  font: 700 1rem 'Poppins';
  color: rgb(109, 143, 196);
  letter-spacing: 3px;
  margin-left: 0.25rem;
}

.nav-list li a {
  color: var(--text-color-light);
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-menu div {
  width: 2rem;
  height: 2px;
  background: var(--orange-700);
  margin: 0.5rem;
  transition: 0.3s;
}

/* MAIN **********/
main {
  max-width: 375px;
  overflow-x: hidden;
}
/* HOME */
#home {
  overflow-x: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--orange-700);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
  font-size: var(--text-font-size);
  color: var(--orange-700);
}

/* GALLERY **********/

#gallery .container {
  margin-left: 0;
  margin-right: 0;
}

#gallery header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#gallery p {
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  font-size: var(--text-font-size);
  text-align: center;
}

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-slide img {
  border-radius: 0.25rem;
  height: 16rem;
  object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  top: 1750px;
  right: 10px;
  width: auto;
  left: auto;
  margin: 0;
}

.swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
}

.swiper-pagination-bullet-active {
  background: var(--text-color-light);
}

/* CONTACT **********/
#contact .container {
  margin: 0;
}

#contact .grid {
  gap: 4rem;
}

#contact .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#contact .text h2 {
  margin-bottom: 1rem;
}

#contact .text p {
  margin-bottom: 2rem;
  text-align: center;
}

#contact .button i,
#contact ul li i {
  font-size: 1rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--orange-700);
}

/* FOOTER **********/
footer {
  background-color: var(--orange-700);
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
}

footer i {
  font-size: 2rem;
  color: var(--base-color);
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

/* Back to top */
.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 5rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* MEDIA QUERY */
@media (max-width: 990px) {
  :root {
    --title-font-size: 2.2rem;
    --subtitle-font-size: 1.125rem;
  }

  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: var(--base-color);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (min-width: 1200px) {
  /* reusable classes */

  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #gallery header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  /* layout */
  main {
    margin-top: var(--header-height);
  }

  /* home */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /* gallery */
  #gallery .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */
  footer .section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}
